
@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');

:root {
  --background-color:#F7F3EE;
  --text-color: rgb(247, 141, 54);
  --text-secondary-color: rgb(255, 255, 255);
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
  font-size: 16px;
 
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;



}

p{

  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: var(--text-color);
}

.title{
  background-color: rgb(0, 0, 0);
  color: var(--text-color);
  font-size: 16px;
}
.description{
  background-color: rgb(0, 0, 0);
  color: var(--text-color);
  font-size: 18px;
}
.change:hover {
  color:#08fdd8;
  font-size: 30px;

}
.change{
  padding: 0.05rem;
}
h1{
  text-align: center;
}
.natureTitle{

background-color: var(--background-color);
text-align: center;
margin: 0.5rem;

}
.navbar-item{
  color: red;
}